html, body {
    background-color: black;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    margin: 0px;
    overflow: hidden;
}

.dark-green {
    color: green;
}


.dark-green-bk li {
    background-color: #2e5134;
}

.dark-green:hover {
    background-color: #2e5134;
}

.grey {
    color: grey;
}

.grey-bk {
    background-color: grey;
}

.flip {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.side {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
